---
title: "Services"
layout: "wrapper"
---



<div class="main_content">
   {{content}}
</div>


<aside class="p-3 fixed_right d-none d-lg-block bg-light">
    <h4>Our Services</h4>
    <div class="list-unstyled list-group">
    	{% for service in site.data.services %}
    		<a hreflang="en" href="{{service.permalink | relative_url }}" class="list-group-item list-group-item-action{% if page.permalink == service.permalink %} active disabled_link bg-warning text-dark{% endif %}">{{service.linkname}}</a>
    	{% endfor %}         
    </div>        
</aside><!-- /.blog-sidebar -->

<!-- share buttons -->
<div class="mb-5">
  <div class="fb-like" data-href="https://{{site.domain_name}}{{page.permalink}}" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//{{site.domain_name}}{{page.permalink}}&title=&summary=&source=" target="_blank">
    <img src="{{"/assets/images/linkedin-share.png" | relative_url }}" alt="Linkedin Share Button" class="social_media_button">
  </a>
  <a href="mailto:?&subject={{page.title}} - Sunflower Web&body=https%3A//{{site.domain_name}}{{page.permalink}}" class="email_print_button">Email</a>
  <button onclick="printFunction()" class="email_print_button border-0">Print this page</button>
</div>

<!--  replace sidebar on small screen-->
<div class="p-3 d-block d-lg-none">
  <h4>Our Services</h4>
    <ol class="list-unstyled mb-2">
      {% for service in site.data.services %}
        <li class="border-top p-2"><a hreflang="en" href="{{service.permalink | relative_url }}" class="text-success {% if page.permalink == service.permalink %} font-weight-bold disabled_link {% endif %}">{{service.linkname}}</a></li>
      {% endfor %}         
    </ol> 
</div>